* {
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.amarilloCorrecto {
  background-color: #ffcc00;
}
.naranjaFuegoChileno {
  background-color: #ff9900;
}
